extends ../partials/header.pug
block content 
    .all-inner-wrapper
        .header-content 
            .admin-info-wrapper 
                .admin-name-surname Welcome back #{admin.name_surname}!
                .admin-type #{admin.admin_type}
            .sdg-goal-image
                img(src="/res/images/un.png", alt="United Nations")
                img(src="/res/images/sdg.png" alt="Sustainable Development Goals")
        .main-content 
            form.create-form#create-form(method='POST' action='/admin/activists/create' autocomplete="off" enctype='multipart/form-data')
                label(for="name") Full Name Of The Activist 
                input#name(type="text" name="name")
                label(for="description") Description
                input#description(type="text" name="description")
                label(for="image") Profile Photo 
                input(type="file" name="image" accept="image/png, image/jpeg, image/jpg")
                button.submit-button#submit-button(type="submit") Save
            .activists-main-wrapper 
                each activist in activistsArray 
                    .each-activist-content 
                        .each-activist-info-content 
                            .each-activist-info(style="display:none") #{activist._id}
                            .each-activist-info Name: #{activist.name}
                            .each-activist-info About: #{activist.description.slice(0,100)}...
                        input(type="checkbox" checked=activist.isActivistOfWeek).each-activist-checkbox
        .footer-content
            .signature-text powered by Üsküdar American Academy