extends ../partials/head.pug
block content 
  .all-inner-wrapper
    .header-content 
      .admin-info-wrapper 
        .admin-name-surname Welcome back #{admin.name_surname}!
        .admin-type #{admin.admin_type}
      .sdg-goal-image
        img(src="/res/images/un.png", alt="United Nations")
        img(src="/res/images/sdg.png" alt="Sustainable Development Goals")
    .main-content#main-content
      .search-tools-wrapper 
        input.search-bar#search-bar(type="text" placeholder="Search 🔎")
        select#search-filter(name="filter")
          option(value="nameSurname") Name surname 
          option(value="gender") Gender 
          option(value="birth-date") Birth date 
          option(value="school") School 
          option(value="country") Country 
          option(value="city") City
      .volunteers-main-wrapper#volunteers-main-wrapper
        each volunteer in volunteers 
          .each-volunteer-content 
            .each-volunteer-content-info-wrapper 
              .each-volunteer-info(style="display:none") #{volunteer._id}
              .each-volunteer-info Name: #{volunteer.name} #{volunteer.surname}
              .each-volunteer-info Email: #{volunteer.email}
              .each-volunteer-info Phone number: #{volunteer.phone_number}
              .each-volunteer-info School: #{volunteer.school}
              .each-volunteer-info Gender: #{volunteer.gender}
              .each-volunteer-info Location: #{volunteer.city} / #{volunteer.country}
              .each-volunteer-info Birth date: #{volunteer.birth_date}
            .waitlist-button-delete Delete
    .footer-content
      .signature-text powered by Üsküdar American Academy