doctype html
html(lang='tr')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0')
    title SDG APP | #{title}
    link(rel="stylesheet", href="https://unpkg.com/leaflet/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet/dist/leaflet.js")
    script(src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js')
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' rel='stylesheet')
    if includes && includes.external
      if includes.external.css
        if includes.external.css.includes('page')
          link(rel='stylesheet' href=`/css/${page}.css`)
        if includes.external.css.includes('general')
          link(rel='stylesheet' href=`/css/${page.split("/")[0]}/general.css`)
        if includes.external.css.includes('index')
          link(rel='stylesheet' href=`/css/${page.split("/")[0]}/index.css`)
      if includes.external.js 
        if includes.external.js.includes('page')
          script(src=`/js/${page}.js`)
        if includes.external.js.includes('functions')
          script(src=`/js/functions/httpRequest.js`)
          script(src=`/js/functions/createStackedBarGraph.js`) 
          script(src=`/js/functions/searchBar.js`) 
          script(src=`/js/functions/hamburgerMenu.js`) 
          script(src=`/js/functions/profileHover.js`) 
        script(src="https://kit.fontawesome.com/e47420f551.js" crossorigin="anonymous")
  body
    #profile-hover-wrapper.profile-hover-wrapper
      .hover-wrapper-credentials-wrapper
        a(href="/volunteer/edit-profile").volunteer-auth-block #{volunteer.name[0]}#{volunteer.surname[0]}
        .volunteer-credentials-text-wrapper 
          div #{volunteer.name} #{volunteer.surname}
          div.email #{volunteer.email}
      hr
      .hover-wrapper-menu-wrapper
        a(href="/calendar").each-hover-wrapper-link Stream
        a(href="/leaderboard").each-hover-wrapper-link My Portfolio
        a(href="/leaderboard").each-hover-wrapper-link My Certificates
      hr
      .hover-wrapper-menu-wrapper 
        a(href="/help").each-hover-wrapper-link Help
        a(href="/profile").each-hover-wrapper-link Edit Profile
    .hamburger-menu-wrapper#hamburger-menu-wrapper
      .each-header-title-hamburger
        a(href="/my-projects") My projects
      .each-header-title-hamburger
        a(href="/leaderboard") My progress
      .each-header-title-hamburger
        a(href="/calendar") Calendar
      .each-header-title-hamburger
        a(href="/learn") Learn
    .all-inner-wrapper 
      .header-wrapper 
        .header-spacer 
        .hamburger-menu-toggle#hamburger-menu-toggle
          hr
          hr
          hr
        a(href="/").logo-section 
          img.logo-image(src="/res/images/logo.png", alt="SDG Logo")
        .header-search-bar-section
          input#search(type="text" placeholder="Search for projects and organizations") 
          i(class="fa fa-search")
          .search-bar-results-section#search-res
            .search-results-entry-text 
              div no results found
        .header-titles-section 
          .each-header-title 
            a(href="/my-projects") My projects
          .each-header-title 
            a(href="/leaderboard") My progress
          .each-header-title 
            a(href="/calendar") Calendar
          .each-header-title
            a(href="/learn") Learn
        .auth-section
          if volunteer 
            a(href="/volunteer/edit-profile").volunteer-auth-block#volunteer-auth-block #{volunteer.name[0]}#{volunteer.surname[0]}
          else 
            a(href="/login").each-auth-operation-block Login 
            a.each-auth-operation-block(href="/register" style="background-color:rgba(0, 115, 255, 1); color: #ffffff") Sign Up 
      block content
      
        