extends ../partials/head.pug
block content
  - var socialGroup = ["1", "2", "3", "4", "5", "10", "16", "17"]
  - var economicGroup = ["7", "8", "9", "11", "12"]
  - var environmentalGroup = ["6", "13", "14", "15"]
  if volunteer && volunteer._id
    #volunteer-id(style="display:none")= volunteer._id
  .inner-main-wrapper
    .main-wrapper-todays-picks#featured-projects-content
      .featured-wrapper-main-title Today's Picks
      .view-time-progress-bar#view-time-progress-bar
        .view-time-progress-bar-inner-content
      .feautred-inner-wrapper#featured-inner-wrapper
        each project in projects
          if project.isTodaysPick
            .each-featured-project-content
              .featured-project-image-content
                if project.imageName && project.imageName.length > 0
                  img(src=`${project.photo}`, alt="")
                else
                  img(src=`data:image/png;base64,${project.photo}`, alt="")
              .each-featured-project-content-info-wrapper 
                .each-featured-project-content-info-wrapper-texts
                  h1 #{project.name}
                  .each-featured-project-content-creator-wrapper
                    each organization in organizations 
                      if `${organization._id}` == `${project.creator_id}`
                        div(class="organization-featured-photo")
                          img(class="organization-featured-photo-image-content" src=`data:image/png;base64,${organization.photo}`)
                    h2(style="margin-left: 20px") #{project.creator_name}
                  p #{project.short_description}
                  a(href=`/project?_id=${project._id}`).join-project-button View More
                .each-featured-project-content-info-wrapper-sdgs
                  each sdg in sdgs 
                    each sdg_id in project.sdg_goals
                      if `${sdg_id}` == `${sdg._id}`
                        .featured-project-sdg-goal-content 
                          if sdg.imageName && sdg.imageName.length 
                            img(src=`${sdg.image}`, alt="")
                          else
                            img(src=`data:image/png;base64,${sdg.image}`, alt="")
                        - break
    if volunteer && volunteer.city && volunteer.city.length > 0
      .each-project-row-main-wrapper
        h2.each-project-row-title Popular in #{volunteer.city}
        .each-project-slider-wrapper
          div(class="btn prev")
            i(class="fa-solid fa-angle-left")
          div(class="btn next")
            i(class="fa-solid fa-angle-right")
          .each-project-row
            each project in projects
              if project.city && volunteer.city
                //- div #{project.name} #{project.city.trim().toLowerCase()} #{volunteer.city.trim().toLowerCase()}
                if `${project.city.trim().toLowerCase()}` == `${volunteer.city.trim().toLowerCase()}`
                  .cards
                    div(style="display:none") #{project._id}
                    div(class="card-property card_image loading")
                      if project.imageName && project.imageName.length > 0
                        img(class="card-image-content card-image-content-opacity" src=`${project.photo}`)
                      else 
                        img(class="card-image-content card-image-content-opacity" src=`data:image/png;base64,${project.photo}`)
                    .like-status(style="display:none")
                      if volunteer.liked_projects.includes(project._id)
                        span true
                      else
                        span false
                    .project-thumbnail-add-to-favorites-button
                      if volunteer.liked_projects.includes(project._id)
                        i(class="fa-solid fa-heart" style="color: red;")
                      else
                        i(class="fa-regular fa-heart", style="color: #ccc;")
                    div(class="card-property card_title loading") #{project.name}
                    div(class="card-property card_creator loading") #{project.creator_name}
                    div(class="card-property card_description loading") #{project.short_description}
                    div(class="card-property card_description loading") Start time: #{project.start_date}
                    div(class=`card-property card_environment loading ${project.environment}`) #{project.environment}
    if volunteer && (volunteer.liked_organizations || volunteer.liked_projects) && (volunteer.liked_organizations.length > 0 || volunteer.liked_projects.length > 0) 
      .each-project-row-main-wrapper
        h2.each-project-row-title 
          span Liked by you
          i(class="fa-solid fa-heart" style="color: red; margin-left: 10px;")
        .each-project-slider-wrapper
          div(class="btn prev")
            i(class="fa-solid fa-angle-left")
          div(class="btn next")
            i(class="fa-solid fa-angle-right")
          .each-project-row
            each project, i in projects
              if `${project._id}` == `${volunteer.liked_projects[i]}`
                .cards
                  div(style="display:none") #{project._id}
                  div(class="card-property card_image loading")
                    if project.imageName && project.imageName.length > 0
                      img(class="card-image-content card-image-content-opacity" src=`${project.photo}`)
                    else
                      img(class="card-image-content card-image-content-opacity" src=`data:image/png;base64,${project.photo}`)
                  div(class="card-property card_title loading") #{project.name}
                  div(class="card-property card_creator loading") #{project.creator_name}
                  div(class="card-property card_description loading") #{project.short_description}
                  div(class="card-property card_description loading") Start time: #{project.start_date}
                  div(class=`card-property card_environment loading ${project.environment}`) #{project.environment}
            each organization, i in organizations
              if `${organization._id}` == `${volunteer.liked_organizations[i]}`
                a(href=`/volunteer/organization?id=${organization._id}`).each-organization-content              
                  .each-organization-content-base-info-wrapper
                    div(class="organization-featured-photo-outstanding-wrapper")
                      img(class="organization-featured-photo-image-content" src=`data:image/png;base64,${organization.photo}` style="")
                    .each-organization-text-wrapper
                      .organization-content-organization-name #{organization.name}
                      .organization-content-organization-info
                        if `${organization.organization_type}` == `school_based`
                          span 
                            span is associated with 
                            strong #{organization.associated_school} 
                            span active in 
                            strong #{organization.country}
                        if `${organization.organization_type}` == `ngo`
                          span is an NGO active in 
                          strong #{organization.country}
                        if `${organization.organization_type}` == `governmental`
                          span is associated with government of 
                          strong #{organization.country}
                  .organization-content-sdgs-content
                      each sdg_id in organization.completed_sdgs
                        each sdg in sdgs
                          if `${sdg._id}` == `${sdg_id}`
                            .featured-project-sdg-goal-content-outstanding-organization
                              if sdg.imageName && sdg.imageName.length > 0
                                img(class="featured-project-sdg-goal-content-outstanding-organization-image-content" src=`${sdg.image}`, alt="")
                              else
                                img(class="featured-project-sdg-goal-content-outstanding-organization-image-content" src=`data:image/png;base64,${sdg.image}`, alt="")
                            - break
                  .organization-content-organization-description #{organization.description}  
            
    .each-project-row-main-wrapper(style="height: 300px")
      .h2.each-project-row-title Outstanding Organizations
      .each-project-slider-wrapper
        div(class="btn prev")
          i(class="fa-solid fa-angle-left")
        div(class="btn next")
          i(class="fa-solid fa-angle-right")
        .each-project-row
          each organization in organizations
            a(href=`/volunteer/organization?id=${organization._id}`).each-organization-content              
              .each-organization-content-base-info-wrapper
                div(class="organization-featured-photo-outstanding-wrapper")
                  img(class="organization-featured-photo-image-content" src=`data:image/png;base64,${organization.photo}` style="")
                .each-organization-text-wrapper
                  .organization-content-organization-name #{organization.name}
                  .organization-content-organization-info
                    if `${organization.organization_type}` == `school_based`
                      span 
                        span is associated with 
                        strong #{organization.associated_school} 
                        span active in 
                        strong #{organization.country}
                    if `${organization.organization_type}` == `ngo`
                      span is an NGO active in 
                      strong #{organization.country}
                    if `${organization.organization_type}` == `governmental`
                      span is associated with government of 
                      strong #{organization.country}
              .organization-content-sdgs-content
                  each sdg_id in organization.completed_sdgs
                    each sdg in sdgs
                      if `${sdg._id}` == `${sdg_id}`
                        .featured-project-sdg-goal-content-outstanding-organization
                          if sdg.imageName && sdg.imageName.length > 0
                            img(class="featured-project-sdg-goal-content-outstanding-organization-image-content" src=`${sdg.image}`, alt="")
                          else 
                            img(class="featured-project-sdg-goal-content-outstanding-organization-image-content" src=`data:image/png;base64,${sdg.image}`, alt="")
                        - break
              .organization-content-organization-description #{organization.description}
    .each-project-row-main-wrapper
      h2.each-project-row-title Projects For Social Impact
      .each-project-slider-wrapper
        div(class="btn prev")
          i(class="fa-solid fa-angle-left")
        div(class="btn next")
          i(class="fa-solid fa-angle-right")
        .each-project-row
          - var alreadyPushedArray = []
          each project in projects
            each sdg in sdgs 
              each sdg_id in project.sdg_goals                 
                if `${sdg._id}` == `${sdg_id}` && socialGroup.includes(`${sdg.number}`) && `${project.isCompleted}` == "false" && alreadyPushedArray.includes(`${project._id}`) == false
                  - alreadyPushedArray.push(`${project._id}`)
                  .cards
                    div(style="display:none") #{project._id}
                    div(class="card-property card_image loading")
                      if project.imageName && project.imageName.length > 0
                        img(class="card-image-content card-image-content-opacity" src=`${project.photo}`)
                      else
                        img(class="card-image-content card-image-content-opacity" src=`data:image/png;base64,${project.photo}`)
                    div(class="card-property card_title loading") #{project.name}
                    div(class="card-property card_creator loading") #{project.creator_name}
                    div(class="card-property card_description loading") #{project.short_description}
                    div(class="card-property card_description loading") Start time: #{project.start_date}
                    div(class=`card-property card_environment loading ${project.environment}`) #{project.environment}
    .each-project-row-main-wrapper
      h2.each-project-row-title Economic Equality
      .each-project-slider-wrapper
        div(class="btn prev")
          i(class="fa-solid fa-angle-left")
        div(class="btn next")
          i(class="fa-solid fa-angle-right")
        .each-project-row
          - var alreadyPushedArray = []
          each project in projects
            each sdg in sdgs 
              each sdg_id in project.sdg_goals 
                if `${sdg._id}` == `${sdg_id}` && economicGroup.includes(`${sdg.number}`) && `${project.isCompleted}` == "false" && alreadyPushedArray.includes(`${project._id}`) == false
                  - alreadyPushedArray.push(`${project._id}`)
                  .cards
                    div(style="display:none") #{project._id}
                    div(class="card-property card_image loading")
                      if project.imageName && project.imageName.length > 0
                        img(class="card-image-content card-image-content-opacity" src=`${project.photo}`)
                      else 
                        img(class="card-image-content card-image-content-opacity" src=`data:image/png;base64,${project.photo}`)
                    div(class="card-property card_title loading") #{project.name}
                    div(class="card-property card_creator loading") #{project.creator_name}
                    div(class="card-property card_description loading") #{project.short_description}
                    div(class="card-property card_description loading") Start time: #{project.start_date}
                    div(class=`card-property card_environment loading ${project.environment}`) #{project.environment}
    .each-project-row-main-wrapper
      h2.each-project-row-title Take Action For The Environment 
      .each-project-slider-wrapper
        div(class="btn prev")
          i(class="fa-solid fa-angle-left")
        div(class="btn next")
          i(class="fa-solid fa-angle-right")
        .each-project-row
          - var alreadyPushedArray = []
          each project in projects
            each sdg in sdgs 
              each sdg_id in project.sdg_goals 
                if `${sdg._id}` == `${sdg_id}` && environmentalGroup.includes(`${sdg.number}`) && `${project.isCompleted}` == "false" && alreadyPushedArray.includes(`${project._id}`) == false
                  - alreadyPushedArray.push(`${project._id}`)
                  .cards
                    div(style="display:none") #{project._id}
                    div(class="card-property card_image loading")
                      if project.imageName && project.imageName.length > 0
                        img(class="card-image-content card-image-content-opacity" src=`${project.photo}`)
                      else 
                        img(class="card-image-content card-image-content-opacity" src=`data:image/png;base64,${project.photo}`)
                    div(class="card-property card_title loading") #{project.name}
                    div(class="card-property card_creator loading") #{project.creator_name}
                    div(class="card-property card_description loading") #{project.short_description}
                    div(class="card-property card_description loading") Start time: #{project.start_date}
                    div(class=`card-property card_environment loading ${project.environment}`) #{project.environment}
    footer
      .footer-column-wrapper
        .each-footer-column
          .each-footer-column-title Volunteer Menu
          hr
          a(href="/").each-footer-column-link Volunteer Home
          a(href="/my-projects").each-footer-column-link My Projects
          a(href="/volunteer/edit-profile").each-footer-column-link Edit Profile
          a(href="/").each-footer-column-link Leaderboard (coming soon)
          a(href="/").each-footer-column-link Progress (coming soon)
          a(href="/").each-footer-column-link Learn (coming soon)
          a(href="/").each-footer-column-link Portfolio (coming soon)
        .each-footer-column
          .each-footer-column-title Running An Organization?
          hr
          a(href="/organization/register").each-footer-column-link Sign up as an organization
          a(href="/organization/login").each-footer-column-link Organization login
        .each-footer-column
          .each-footer-column-title Corporate Links
          hr
          a(href="/").each-footer-column-link Join Our Team
          a(href="/").each-footer-column-link Privacy Policy
          a(href="/").each-footer-column-link Terms and Conditions
      .footer-column-wrapper(style="justify-content: space-between")  
        div Powered by Üsküdar American Academy
        div All Rights Reserved 2023®