extends ../partials/head.pug
block content
  - var socialGroup = ["1", "2", "3", "4", "5", "10", "16", "17"]
  - var economicGroup = ["7", "8", "9", "11", "12"]
  - var environmentalGroup = ["6", "13", "14", "15"]
  .all-inner-wrapper 
    .header-wrapper 
      a(href="/").logo-section 
        img.logo-image(src="/res/images/logo.png", alt="SDG Logo")
      .header-search-bar-section 
        input(type="text" placeholder="Search for projects and organizations") 
        i(class="fa fa-search")
      .header-titles-section 
        .each-header-title 
          a(href="/my-projects") My projects
        .each-header-title 
          div Leaderboard
          span soon
        .each-header-title
          div Progress
          span soon
        .each-header-title
          div Learn
          span soon
      .auth-section
        if volunteer 
          .volunteer-auth-block #{volunteer.name[0]}#{volunteer.surname[0]}
        else 
          a(href="/login").each-auth-operation-block Login 
          a.each-auth-operation-block(href="/register" style="background-color:rgba(0, 115, 255, 1); color: #ffffff") Sign Up 
    .inner-main-wrapper 
      .main-wrapper-todays-picks#featured-projects-content
        .featured-wrapper-main-title Today's Picks
        .view-time-progress-bar#view-time-progress-bar
          .view-time-progress-bar-inner-content
        .feautred-inner-wrapper#featured-inner-wrapper
          each project in projects
            if project.isTodaysPick
              .each-featured-project-content
                .featured-project-image-content
                  img(src=`data:image/png;base64,${project.photo}`, alt="")
                .each-featured-project-content-info-wrapper 
                  .each-featured-project-content-info-wrapper-texts
                    h1 #{project.name}
                    h2 #{project.creator_name}
                    p #{project.short_description}
                    a(href=`/project?_id=${project._id}`).join-project-button View More
                  .each-featured-project-content-info-wrapper-sdgs
                    each sdg in sdgs 
                      each sdg_id in project.sdg_goals
                        .featured-project-sdg-goal-content 
                          img(src=`data:image/png;base64,${sdg.image}`, alt="")
                        .featured-project-sdg-goal-content 
                          img(src=`data:image/png;base64,${sdg.image}`, alt="")
                        .featured-project-sdg-goal-content 
                          img(src=`data:image/png;base64,${sdg.image}`, alt="")
                        .featured-project-sdg-goal-content 
                          img(src=`data:image/png;base64,${sdg.image}`, alt="")
                        .featured-project-sdg-goal-content 
                          img(src=`data:image/png;base64,${sdg.image}`, alt="")
                        -break
      .each-project-row-main-wrapper
        h2.each-project-row-title Popular in #{volunteer.city}
        .each-project-slider-wrapper
          div(class="btn prev")
            i(class="fa-solid fa-angle-left")
          div(class="btn next")
            i(class="fa-solid fa-angle-right")
          .each-project-row
            each project in projects
              if `${project.city}` == `${volunteer.city}`
              .cards
                div(style="display:none") #{project._id}
                div(class="card-property card_image loading")
                  img(class="card-image-content card-image-content-opacity" src=`data:image/png;base64,${project.photo}`)
                div(class="card-property card_title loading") #{project.name}
                div(class="card-property card_creator loading") #{project.creator_name}
                div(class="card-property card_description loading") #{project.short_description}
                div(class="card-property card_description loading") Start time: #{project.start_date}
                div(class=`card-property card_environment loading ${project.environment}`) #{project.environment}
      .each-project-row-main-wrapper
        h2.each-project-row-title Projects For Social Impact
        .each-project-slider-wrapper
          div(class="btn prev")
            i(class="fa-solid fa-angle-left")
          div(class="btn next")
            i(class="fa-solid fa-angle-right")
          .each-project-row
            each project in projects
              each sdg_id in project.sdg_goals 
                each sdg in sdgs 
                  if `${sdg.id}` == `${sdg_id}` && socialGroup.includes(`${sdg.number}`)
                    .cards
                      div(style="display:none") #{project._id}
                      div(class="card-property card_image loading")
                        img(class="card-image-content card-image-content-opacity" src=`data:image/png;base64,${project.photo}`)
                      div(class="card-property card_title loading") #{project.name}
                      div(class="card-property card_creator loading") #{project.creator_name}
                      div(class="card-property card_description loading") #{project.short_description}
                      div(class="card-property card_description loading") Start time: #{project.start_date}
                      div(class=`card-property card_environment loading ${project.environment}`) #{project.environment}
                  - break
      .each-project-row-main-wrapper
        h2.each-project-row-title Economic Equality
        .each-project-slider-wrapper
          div(class="btn prev")
            i(class="fa-solid fa-angle-left")
          div(class="btn next")
            i(class="fa-solid fa-angle-right")
          .each-project-row
            each project in projects
              each sdg_id in project.sdg_goals 
                each sdg in sdgs 
                  if `${sdg.id}` == `${sdg_id}` && economicGroup.includes(`${sdg.number}`)
                    .cards
                      div(style="display:none") #{project._id}
                      div(class="card-property card_image loading")
                        img(class="card-image-content card-image-content-opacity" src=`data:image/png;base64,${project.photo}`)
                      div(class="card-property card_title loading") #{project.name}
                      div(class="card-property card_creator loading") #{project.creator_name}
                      div(class="card-property card_description loading") #{project.short_description}
                      div(class="card-property card_description loading") Start time: #{project.start_date}
                      div(class=`card-property card_environment loading ${project.environment}`) #{project.environment}
                  - break
      .each-project-row-main-wrapper
        h2.each-project-row-title Take Action For The Environment 
        .each-project-slider-wrapper
          div(class="btn prev")
            i(class="fa-solid fa-angle-left")
          div(class="btn next")
            i(class="fa-solid fa-angle-right")
          .each-project-row
            each project in projects
              each sdg_id in project.sdg_goals 
                each sdg in sdgs 
                  if `${sdg.id}` == `${sdg_id}` && environmentalGroup.includes(`${sdg.number}`)
                    .cards
                      div(style="display:none") #{project._id}
                      div(class="card-property card_image loading")
                        img(class="card-image-content card-image-content-opacity" src=`data:image/png;base64,${project.photo}`)
                      div(class="card-property card_title loading") #{project.name}
                      div(class="card-property card_creator loading") #{project.creator_name}
                      div(class="card-property card_description loading") #{project.short_description}
                      div(class="card-property card_description loading") Start time: #{project.start_date}
                      div(class=`card-property card_environment loading ${project.environment}`) #{project.environment}
                  - break
      footer