extends ../partials/head.pug
block content
  .inner-main-wrapper 
    .goal-main-wrapper 
      .goal-main-wrapper-goal-content 
        h1 #{volunteer.completedHoursOfService.split(":")[0]}
        div(style="font-size:72px") h
        h1 #{volunteer.completedHoursOfService.split(":")[1]}
        div(style="font-size:72px") m &nbsp
        div hours of social service completed
      .goal-main-wrapper-goal-content-detail
        h2 #{volunteer.totalHoursOfService} &nbsp
        div hours of total service estimated
        div &nbsp&nbsp out of &nbsp&nbsp
        h2 #{volunteer.hoursOfServiceGoal} &nbsp
        div hours of service goal
      if volunteer.completedHoursOfService > volunteer.hoursOfServiceGoal
        .goal-main-wrapper-goal-content-detail
          div Congratulations! You surpassed your current goal. It's time to set a new goal!
      .goal-main-wrapper-progress-bar(style="overflow:hidden")
        .goal-main-wrapper-progress-bar-inner-bar(style=`width: ${((parseInt(volunteer.completedHoursOfService.split(":")[0]) / volunteer.hoursOfServiceGoal) * 100).toFixed(0)}% !important; background-color: rgba(0, 115, 255, 0.5);`)
        .goal-main-wrapper-progress-bar-inner-bar(style=`width: ${((parseInt(volunteer.totalHoursOfService.split(":")[0]) / volunteer.hoursOfServiceGoal) * 100).toFixed(0)}% !important; background-color: rgba(0, 115, 255, 0.5)`)
      .goal-main-wrapper-desc-text
      .goal-main-wrapper-edit-goal-wrapper
        button.edit-goal-button#edit-goal-button Set a New Goal
    - var cityRank = 0;
    - var countryRank = 0;
    - var schoolRank = 0;
    each volunteerSchool in leaderboardData.school
      if `${volunteerSchool._id}` == `${volunteer._id}`
        .each-ranking-wrapper 
          if schoolRank == 0
            .each-ranking-category-title School Ranking
            .each-ranking-wrapper-volunteer-item
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name #{volunteer.name} #{volunteer.surname}
              .each-ranking-wrapper-rank #{schoolRank + 1}
            .each-ranking-wrapper-volunteer-opponent-item 
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name
              .each-ranking-wrapper-rank #{schoolRank + 2}
            .each-ranking-wrapper-volunteer-trailing-item •••
          else 
            .each-ranking-category-title School Ranking
            .each-ranking-wrapper-volunteer-opponent-item 
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name
              .each-ranking-wrapper-rank #{schoolRank}
            .each-ranking-wrapper-volunteer-item
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name #{volunteer.name} #{volunteer.surname}
              .each-ranking-wrapper-rank #{schoolRank + 1}
            .each-ranking-wrapper-volunteer-opponent-item 
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name
              .each-ranking-wrapper-rank #{schoolRank + 2}
            .each-ranking-wrapper-volunteer-trailing-item •••
      else
        - schoolRank++
    each volunteerCity in leaderboardData.city
      if `${volunteerCity._id}` == `${volunteer._id}`
        .each-ranking-wrapper 
          if cityRank == 0
            .each-ranking-category-title City Ranking
            .each-ranking-wrapper-volunteer-item
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name #{volunteer.name} #{volunteer.surname}
              .each-ranking-wrapper-rank #{cityRank + 1}
            .each-ranking-wrapper-volunteer-opponent-item 
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name
              .each-ranking-wrapper-rank #{cityRank + 2}
            .each-ranking-wrapper-volunteer-trailing-item •••
          else 
            .each-ranking-category-title City Ranking
            .each-ranking-wrapper-volunteer-opponent-item 
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name
              .each-ranking-wrapper-rank #{cityRank}
            .each-ranking-wrapper-volunteer-item
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name #{volunteer.name} #{volunteer.surname}
              .each-ranking-wrapper-rank #{cityRank + 1}
            .each-ranking-wrapper-volunteer-opponent-item 
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name
              .each-ranking-wrapper-rank #{cityRank + 2}
            .each-ranking-wrapper-volunteer-trailing-item •••
      else
        - cityRank++
    each volunteerCountry in leaderboardData.country
      if `${volunteerCountry._id}` == `${volunteer._id}`
        .each-ranking-wrapper 
          if countryRank == 0
            .each-ranking-category-title Country Ranking
            .each-ranking-wrapper-volunteer-item
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name #{volunteer.name} #{volunteer.surname}
              .each-ranking-wrapper-rank #{countryRank + 1}
            .each-ranking-wrapper-volunteer-opponent-item 
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name
              .each-ranking-wrapper-rank #{countryRank + 2}
            .each-ranking-wrapper-volunteer-trailing-item •••
          else 
            .each-ranking-category-title Country Ranking
            .each-ranking-wrapper-volunteer-opponent-item 
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name
              .each-ranking-wrapper-rank #{countryRank}
            .each-ranking-wrapper-volunteer-item
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name #{volunteer.name} #{volunteer.surname}
              .each-ranking-wrapper-rank #{countryRank + 1}
            .each-ranking-wrapper-volunteer-opponent-item 
              .each-ranking-wrapper-volunteer-content
                .each-ranking-wrapper-volunteer-dummy-image
                  img(src="/res/images/dummyuser.jpeg", alt="")
                .each-ranking-wrapper-volunteer-name
              .each-ranking-wrapper-rank #{countryRank + 2}
            .each-ranking-wrapper-volunteer-trailing-item •••
      else
        - countryRank++
    footer
      .footer-column-wrapper
        .each-footer-column
          .each-footer-column-title Volunteer Menu
          hr
          a(href="/").each-footer-column-link Volunteer Home
          a(href="/my-projects").each-footer-column-link My Projects
          a(href="/volunteer/edit-profile").each-footer-column-link Edit Profile
          a(href="/").each-footer-column-link Leaderboard (coming soon)
          a(href="/").each-footer-column-link Progress (coming soon)
          a(href="/").each-footer-column-link Learn (coming soon)
          a(href="/").each-footer-column-link Portfolio (coming soon)
        .each-footer-column
          .each-footer-column-title Running An Organization?
          hr
          a(href="/organization/register").each-footer-column-link Sign up as an organization
          a(href="/organization/login").each-footer-column-link Organization login
        .each-footer-column
          .each-footer-column-title Corporate Links
          hr
          a(href="/").each-footer-column-link Join Our Team
          a(href="/").each-footer-column-link Privacy Policy
          a(href="/").each-footer-column-link Terms and Conditions
      .footer-column-wrapper(style="justify-content: space-between")  
        div Powered by Üsküdar American Academy
        div All Rights Reserved 2023®