extends ../partials/head.pug
block content
  - var colors = ["rgb(30, 50, 150)", "rgb(120, 50, 150)", "rgb(150, 50, 150)", "rgb(150, 50, 20)", "rgb(30, 50, 150)", "rgb(10, 50, 150)", "rgb(150, 50, 150)", "rgb(150, 50, 20)", "rgb(30, 50, 150)", "rgb(10, 50, 150)", "rgb(150, 50, 150)", "rgb(150, 50, 20)", "rgb(30, 50, 150)", "rgb(10, 50, 150)", "rgb(150, 50, 150)", "rgb(150, 50, 20)"]
  .inner-main-wrapper 
    each activist, i in activists
      .each-activist-wrapper
        .learn-main-wrapper
          .title-wrapper Learn #{i + 1}
          .rows-wrapper 
            each learnContent in learnArray
              if `${learnContent.activistId}` == `${activist._id}`
                a(href=`${learnContent.video_link}` target="_blank").each-learn-content
                  .each-learn-content-image
                    img(src=`https://img.youtube.com/vi/${learnContent.video_link.split("/")[3]}/hqdefault.jpg`, alt=`image`)
                  .each-learn-content-info-content
                    .each-learn-content-info-content-title #{learnContent.title.slice(0, 50)}...
                    .each-learn-content-info-content-activist #{activist.name}
        .featured-activist-main-wrapper
          .main-background-shape-cluster
            .main-background-shape-cluster-one(style=`background-color: ${colors[i]}`)
            .main-background-shape-cluster-two(style=`background-color: ${colors[i+1]}`)
            .main-background-shape-cluster-three
              if activist.isActivistOfWeek
                div Activist Of The Week
            .main-featured-activist-wrapper 
              .main-featured-activist-image-wrapper 
                img(src=`${activist.profile_photo}`, alt="")
              .main-featured-activist-info-box 
                .main-featured-activist-info-box-title #{activist.name}
                .main-featured-activist-info-box-description #{activist.description.slice(0, 200)}...
            