extends ./general.pug
block main
  .main-content-title Projects 
  .main-content-project-info-wrapper
    .info-wrapper-each-info 
      .info-wrapper-info-number= projects.length
      .info-wrapper-info-description total
    -var completed = 0
    each project in projects 
      if project.isCompleted 
        - completed++
    .info-wrapper-each-info 
      .info-wrapper-info-number= completed
      .info-wrapper-info-description completed
    .info-wrapper-each-info 
      .info-wrapper-info-number= projects.length - completed
      .info-wrapper-info-description on progress
        
  hr
  .main-content-projects-wrapper
    each project in projects 
      .each-project-wrapper
        .each-project-main-info-wrapper
          img.each-project-image(src=`data:image/png;base64,${project.photo}`)
          .each-project-info #{project.name}
        .each-project-more-info-wrapper
          .close-window-button
            i(class="fa-solid fa-close")
          .each-project-more-info-wrapper-info-content 
            .each-project-info Name: #{project.name}
            .each-project-info Description: #{project.short_description}
            .each-project-info Long description: #{project.long_description}
            .each-project-info Name: #{project.name}
            .each-project-sdg-goals-content 
              each sdg in sdgs 
                each sdg_id in project.sdg_goals 
                  if `${sdg_id}` === `${sdg._id}`
                    .sdg-content 
                      .sdg-img-content
                        img(src=`data:image/png;base64`,${sdg.image})
            .project-sessions-wrapper 
              each session in project.sessions 
                .each-session-content
                  .each-session-info Start time: #{session.session_start_time}
                  .each-session-info Duration: #{session.session_duration}
                  .each-session-info Environment: #{session.session_environment}
                  if `${session.session_address}` != ""
                    .each-session-info Address: #{session.session_address}
                  if `${session.session_link_to_online_environment}` != ""
                    .each-session-info Link to online environment: #{session.session_link_to_online_environment}
            .submit-button#add-session-button Add new session
            form.create-project-form-content(action="/project/add/session" method="post" enctype="application/json" autocomplete="off" id="session-form" style="display:none") 
              hr
              input.create-form-each-text-input(type="text" id="_id" name="_id" style="display:none" value=`${project._id}`)
              label.each-create-form-label(for="session_date") Date of the session
              input.create-form-each-text-input(type="date" id="session_date" name="session_date")
              label.each-create-form-label(for="session_start_time") Start time of the session
              input.create-form-each-text-input(type="time" id="session_start_time" name="session_start_time")
              label.each-create-form-label(for="session_duration") Session duration
              input.create-form-each-text-input(type="time" id="session_duration" name="session_duration" max="05:00" min="00:30")
              label.each-create-form-label(for="session_environment") Project environment
              select(name="session_environment" id="session_environment") 
                option(value="online") Online (virtual)
                option(value="face-to-face") Face to face
              label.each-create-form-label(for="session_link_to_online_environment" id="session_link_to_online_environment_label") Link to online environment
              input.create-form-each-text-input(type="text" id="session_link_to_online_environment" name="session_link_to_online_environment" placeholder="Link to online environment")
              label.each-create-form-label(for="session_address" id="session_address_label" style="display:none") Project address (Where will the project take place?)
              input.create-form-each-text-input(type="text" id="session_address" name="session_address" placeholder="Address" style="display:none")
              input.submit-button(type="submit" value="Save")